<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Share - New</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex justify-content-around">
        <a href="/main">back to recipes</a>
        <a href="/">logout</a>
    </div>
    <h1 class="text-center">Edit Recipe</h1>

    <form class="w-50 d-block mx-auto" action="/update/recipe/{{one_recipe.id}}" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input name="name" type="text" class="form-control" value="{{one_recipe.name}}">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input name="description" type="text" class="form-control" value="{{one_recipe.description}}">
        </div>

        <div class="mb-3">
            <label for="instructions" class="form-label">Instructions</label>
            <input name="instructions" type="text" class="form-control" value="{{one_recipe.instructions}}">
        </div>

        <div class="mb-3">
            <label for="date_made" class="form-label">Date Cooked/Made</label>
            <input name="date_made" type="date" class="form-control">
        </div>

        <div class="mb-3 d-flex flex-column">
            <label class="form-label">Under 30 Min?</label>
            <div>
                <label for="raio_yes">Yes</label>
                <input name="under_30" type="radio" value="1">
                <label for="radio_no">No</label>
                <input name="under_30" type="radio" value="0">
            </div>
        </div>

        <input type="submit" class="btn btn-success">
    </form>
</body>
</html>