<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User {{user.id}}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body class="m-3">
    <h1>User {{user.id}}</h1>

    <h3>Full Name: {{user.first_name}} {{user.last_Name}}</h3>
    <h3>Email: {{user.email}}</h3>
    <br>
    <h3>Created On: {{user.created_at}}</h3>
    <h3>Last Updated On: {{user.updated_at}}</h3>
    
    <h5><a href="/user/update/{{user.id}}">Edit</a> | <a href="/delete/{{user.id}}">Delete</a></h5>

    <div class="m-3">
        <a href="/users" class="btn btn-primary">Home</a>
    </div>
</body>
</html>